# dependencies
/frontend_react/node_modules
/frontend_react/.pnp
.pnp.js

# testing
frontend_react/coverage

# production
/frontend_react/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Logs
/backend_sanity/logs
*.log

# Coverage directory used by tools like istanbul
/backend_sanity/coverage/

# Dependency directories
/backend_sanity/node_modules



